<h2><%= won?(@match) %>: <%= @match.match_id %></h2>
<%= render "match.html", match: @match %>
<h2>Players</h2>
<%= match_table @match, @conn %>
<%= link "Edit", to: match_path(@conn, :edit, @match) %>
<%= link "Back", to: match_path(@conn, :index) %>