<h2>Show match</h2>

<%= render "match.html", match: @match %>

<h2>Players</h2>

<ul>
  <%= for player <- @match.players do %>
    <%= render DotaQuantify.PlayerView, "player.html", player: player, conn: @conn %>
  <% end %>
</ul>

<%= link "Edit", to: match_path(@conn, :edit, @match) %>
<%= link "Back", to: match_path(@conn, :index) %>
